.main {
  background-color: #000000;
  height: 100vh;
}

.medium_logo_size {
  max-height: 200px;
}

.large_logo_size {
  max-height: 500px;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

@font-face {
font-family: '3ds';
src:url('/css/fonts/3ds.ttf.woff') format('woff'),
    url('/css/fonts/3ds.ttf.svg#3ds') format('svg'),
    url('/css/fonts/3ds.ttf.eot'),
    url('/css/fonts/3ds.ttf.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'BrushScriptStd';
	src: url('/css/fonts/BrushScriptStd.eot');
	src: local('BrushScriptStd'), url('/css/fonts/BrushScriptStd.woff') format('woff'), url('/css/fonts/BrushScriptStd.ttf') format('truetype');
}

#headline {
  font-size: 5em;
  margin-top: 7vh;
  color: #f79bf8;
  margin-bottom: 0px;
}

a:link, a:visited{
  text-decoration: none;
}

#guestlist, #contact{
  font-size: 1.5em;
  color: #f79bf8;
}
#guestlist{
  margin-right: 20px;
}

#contact{
  margin-left: 20px;
}

body {
  font-family: '3ds';
}

#contact-head{
  font-size: 3em;
  color: #f79bf8;
}

#info{
  font-family: '3ds';
  font-size: 4em;
  color: #f79bf8;
}

#contactdiv{
  height: 100vh; !important
}

#links{
  font-size: 1.6em;
}

#sundays{
  font-family: 'BrushScriptStd';
  font-size: 1.6em;
  color: #f79bf8;
  transform:rotate(-20deg);
  webkit-transform:rotate(-20deg);
}
